* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary: darkorange;
    --secondary: black;
    --tertiary: rgb(80, 79, 79);
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--tertiary);
    color: var(--primary);
}

header {
    background-color:var(--secondary);
    height: 100px;
}

header h1 {
    display: inline;
    font-size: 36px;
    color: var(--primary);
}

header nav {
    float: right;
    padding-top: 50px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--primary);
    padding: 10px;
}

header span{
    animation: blink 1s steps(1,end) infinite;
    }

    @keyframes blink {
        0% {
            color: var(--primary);
            background-color: var(--secondary);
        }
        50% {
            color: var(--secondary);
            background-color: var(--primary);
        }
        100% {
            color: var(--primary);
            background-color: var(--secondary);
        }
}

section {
    padding: 20px 10px;
}

p {
    padding: 20px 10px;
}

#about-us img{
    height: 200px;
    padding: 30px 30px;
}

.images {
    text-align: center;
}

#philosophy {
    padding-bottom: 20px;
}

#five-steps {
    padding-bottom: 20px;
}

#contact {
    padding-bottom: 20px;
}

#about-us p {
    color: var(--secondary)
}

#philosophy p {
    color: var(--secondary);
}

#philosophy img {
    float: right;
    height: 400px;
    padding: 30px 60px 0 40px;
}
#five-steps img {
    float: left;
    height: 200px;
    padding: 30px 60px 0 40px;
}

#five-steps p {
    color: var(--secondary);
}
#five-steps ol {
    margin: 30px;
    float: left;
}

#five-steps ol li {
    padding: 10px;
}

#contact h4 {
    color: var(--secondary);
}

address {
    color: var(--secondary);
    padding: 20px 0 0 50px;
}

address a {
    text-decoration: none;
    color: var(--primary);
}

footer {
    background-color: var(--secondary);
    text-align: center;
    width: 100%;
    padding: 30px 35px;
}