* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(80, 79, 79);
    color: darkorange;
}

header {
    background: black ;
    height: 100px;
}

header h1 {
    display: inline;
    padding-top: 150px;
}

header h1 a {
    text-decoration: none;
    font-size: 36px;
    color: darkorange;
}

header nav {
    float: right;
    padding-top: 50px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: darkorange;
    padding: 10px;
}

#about-us {
    padding-bottom: 20px;
}

#philosophy {
    padding-bottom: 20px;
}

#five-steps {
    padding-bottom: 20px;
}

#contact {
    padding-bottom: 20px;
}

#about-us p {
    color: black
}

#philosophy p {
    color: black;
}

#five-steps p {
    color: black;
}

#contact p {
    color: black;
}